@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Online Shop</h1>
    <p class="lead">Easy way to buy different items untill you stay home.</p>
    <hr class="my-4">
    <p>Register your own shop and become part of our new initiative to help small shops.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Store" asp-action="Apply" role="button">Apply</a>
    </p>
</div>


