@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to our magazine!</h1>
    <p class="lead">Easy way to buy different items untill you stay home.</p>
    <hr class="my-4">
    <p>Test</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">test</a>
        
    </p>
</div>


