@{ 
    ViewBag.Titile = "Admin";
}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Admin area</h1>
    <p class="lead">test</p>
    <hr class="my-4">
    <p>Test</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">test</a>
    </p>
</div>