@model DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
}
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Description: @Model.Description</p>
                <span>Price: @Model.Price</span>
            </div>
        </div>
    </div>    